openapi: 3.1.0
info:
  title: NiftyBot Webhooks API
  version: 2.0.0
  description: |
    ## 🪝 **NiftyBot Webhooks API v2.0 - External Integration Service**
    
    **Dedicated webhooks service for secure external integrations and real-time notifications.**
    
    ### 🏗️ **New Architecture**
    - **Dedicated Service**: Runs independently on port 3002 (localhost) or webhooks.niftybot.ai (production)
    - **Security Isolation**: Webhook processing isolated from customer API for enhanced security
    - **HMAC Authentication**: Industry-standard HMAC-SHA256 signature verification
    - **Event Processing**: Handles billing, usage, and external integration events
    
    ### 🔐 **Security Features**
    - **HMAC-SHA256 Signatures**: All webhooks require valid signature verification
    - **Configurable Secrets**: Individual webhook endpoint secrets
    - **Request Validation**: Comprehensive payload validation and sanitization
    - **Replay Attack Protection**: Timestamp-based replay prevention
    - **Rate Limiting**: Protection against webhook spam and abuse
    
    ### 🚀 **Supported Integrations**
    - **Stripe**: Payment processing and subscription management
    - **Supabase**: Authentication and user lifecycle events  
    - **External APIs**: Generic webhook support for third-party integrations
    - **Internal Events**: System-generated notifications and alerts
    
    ### 📊 **Event Types**
    - **Billing Events**: Payment success/failure, subscription changes
    - **Usage Events**: Quota warnings, usage alerts, overage notifications
    - **User Events**: Account creation, profile updates, authentication
    - **System Events**: Service health, performance alerts, maintenance notifications

  contact:
    name: NiftyBot Integrations Team
    email: integrations@niftybot.ai
    url: https://niftybot.ai/webhooks-support
  license:
    name: Proprietary
    url: https://niftybot.ai/license

servers:
  - url: https://webhooks.niftybot.ai
    description: Production Webhooks API
  - url: https://webhooks.staging.niftybot.ai
    description: Staging Webhooks API
  - url: http://localhost:3002
    description: Development Webhooks API

security:
  - HmacAuth: []

paths:
  # Health and System Endpoints
  /health:
    get:
      summary: Webhooks API Health Check
      description: Check the health status of the Webhooks API service
      tags: [System]
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  service:
                    type: string
                    example: niftybot-webhooks-api
                  version:
                    type: string
                    example: "2.0.0"
                  database:
                    type: string
                    example: connected
                  timestamp:
                    type: string
                    format: date-time

  /metrics:
    get:
      summary: Webhooks Prometheus Metrics
      description: Prometheus metrics endpoint for webhooks service monitoring
      tags: [System]
      security: []
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string

  # Stripe Integration Webhooks
  /webhooks/stripe:
    post:
      summary: Stripe Webhook Handler
      description: |
        Handle Stripe payment and subscription webhook events
        
        **Supported Events:**
        - `invoice.payment_succeeded` - Successful payment processing
        - `invoice.payment_failed` - Failed payment processing
        - `customer.subscription.created` - New subscription created
        - `customer.subscription.updated` - Subscription modified
        - `customer.subscription.deleted` - Subscription canceled
        - `setup_intent.succeeded` - Payment method setup completed
      tags: [Stripe Integration]
      security:
        - HmacAuth: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
          description: Stripe webhook signature for verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeWebhookEvent'
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Invalid webhook payload
        '401':
          description: Invalid signature
        '500':
          description: Processing error

  # Supabase Authentication Webhooks
  /webhooks/supabase/auth:
    post:
      summary: Supabase Auth Webhook Handler
      description: |
        Handle Supabase authentication lifecycle events
        
        **Supported Events:**
        - `user.created` - New user registration
        - `user.updated` - User profile updates
        - `user.deleted` - User account deletion
        - `user.login` - User login event
        - `session.created` - New session started
        - `session.expired` - Session expired
      tags: [Supabase Integration]
      security:
        - HmacAuth: []
      parameters:
        - name: X-Supabase-Signature
          in: header
          required: true
          schema:
            type: string
          description: Supabase webhook signature for verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupabaseAuthEvent'
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  # Generic External Webhooks
  /webhooks/external/{provider}:
    post:
      summary: Generic External Webhook Handler
      description: |
        Handle webhooks from external providers with configurable processing
        
        This endpoint supports any external provider by:
        1. Validating HMAC signature using provider-specific secret
        2. Processing the payload according to provider configuration
        3. Triggering appropriate internal actions based on event type
      tags: [External Integrations]
      security:
        - HmacAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: External provider identifier
          example: "zapier"
        - name: X-Webhook-Signature
          in: header
          required: true
          schema:
            type: string
          description: Provider-specific webhook signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalWebhookEvent'
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  # Internal System Webhooks
  /webhooks/internal/usage:
    post:
      summary: Usage Alert Webhook
      description: |
        Handle internal usage alert events
        
        **Triggered When:**
        - User approaches quota limit (80%, 90%, 100%)
        - Overage charges incurred
        - Unusual usage patterns detected
        - System capacity alerts
      tags: [Internal Events]
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageAlertEvent'
      responses:
        '200':
          description: Usage alert processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  /webhooks/internal/enrichment:
    post:
      summary: Enrichment Event Webhook
      description: |
        Handle enrichment completion and quality events
        
        **Triggered When:**
        - High-value enrichment completed
        - Quality score below threshold
        - Processing time exceeded limits
        - Cost exceeded expected range
      tags: [Internal Events]
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentEvent'
      responses:
        '200':
          description: Enrichment event processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

components:
  securitySchemes:
    HmacAuth:
      type: apiKey
      in: header
      name: X-Webhook-Signature
      description: |
        HMAC-SHA256 signature for webhook verification
        Format: `t=timestamp,v1=signature_hash`
        
        The signature is computed using the webhook secret and includes:
        - Request timestamp (for replay protection)
        - Raw request body
        - HTTP method and path

  schemas:
    WebhookResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the webhook was processed successfully
        message:
          type: string
          description: Processing result message
        eventId:
          type: string
          description: Unique identifier for this webhook event
        processedAt:
          type: string
          format: date-time
          description: When the webhook was processed

    StripeWebhookEvent:
      type: object
      properties:
        id:
          type: string
          description: Stripe event ID
        type:
          type: string
          description: Stripe event type
          enum:
            - invoice.payment_succeeded
            - invoice.payment_failed
            - customer.subscription.created
            - customer.subscription.updated
            - customer.subscription.deleted
            - setup_intent.succeeded
        data:
          type: object
          description: Stripe event data
          properties:
            object:
              type: object
              description: The Stripe object related to the event
        created:
          type: integer
          description: Unix timestamp when the event was created
        livemode:
          type: boolean
          description: Whether the event was created in live mode

    SupabaseAuthEvent:
      type: object
      properties:
        type:
          type: string
          description: Supabase auth event type
          enum:
            - user.created
            - user.updated
            - user.deleted
            - user.login
            - session.created
            - session.expired
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
              format: email
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            user_metadata:
              type: object
              additionalProperties: true
        session:
          type: object
          nullable: true
          properties:
            access_token:
              type: string
            refresh_token:
              type: string
            expires_in:
              type: integer
            expires_at:
              type: integer
        timestamp:
          type: string
          format: date-time

    ExternalWebhookEvent:
      type: object
      properties:
        provider:
          type: string
          description: External provider identifier
        event_type:
          type: string
          description: Provider-specific event type
        event_id:
          type: string
          description: Provider's unique event identifier
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          description: Provider-specific event data
          additionalProperties: true
        metadata:
          type: object
          description: Additional metadata about the event
          additionalProperties: true

    UsageAlertEvent:
      type: object
      properties:
        event:
          type: string
          description: Usage alert event type
          enum:
            - usage.warning
            - usage.limit_exceeded
            - usage.overage
            - usage.anomaly_detected
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
            name:
              type: string
        usage:
          type: object
          properties:
            current_nbu:
              type: integer
            limit_nbu:
              type: integer
            percentage_used:
              type: number
              format: float
            period_start:
              type: string
              format: date-time
            period_end:
              type: string
              format: date-time
        alert_threshold:
          type: number
          format: float
          description: Threshold that triggered the alert (e.g., 0.8 for 80%)
        timestamp:
          type: string
          format: date-time

    EnrichmentEvent:
      type: object
      properties:
        event:
          type: string
          description: Enrichment event type
          enum:
            - enrichment.completed
            - enrichment.high_cost
            - enrichment.low_quality
            - enrichment.processing_timeout
        enrichment:
          type: object
          properties:
            job_id:
              type: string
            user_id:
              type: string
            api_call_id:
              type: string
            field_count:
              type: integer
            total_cost:
              type: number
              format: float
            processing_time:
              type: number
              format: float
            avg_confidence:
              type: number
              format: float
            method_breakdown:
              type: object
              additionalProperties:
                type: integer
        thresholds:
          type: object
          properties:
            max_cost:
              type: number
              format: float
            min_confidence:
              type: number
              format: float
            max_processing_time:
              type: number
              format: float
        timestamp:
          type: string
          format: date-time

tags:
  - name: System
    description: Health and monitoring endpoints
  - name: Stripe Integration
    description: Stripe payment and subscription webhooks
  - name: Supabase Integration
    description: Supabase authentication lifecycle webhooks
  - name: External Integrations
    description: Generic external provider webhook handlers
  - name: Internal Events
    description: System-generated event notifications
